{% extends "inmo/base.html" %}
 
{% block content %}
    {% if form.errors %}
        <p>Tu usuario y contraseña no coinciden. Por favor intenta nuevamente.</p>
    {% endif %}
 
<img src="/static/img/logo-am.png" class="logo" />

<form method="post" action="{% url 'login' %}">
        {% csrf_token %}
       			<input type="text" class="tb1" name="username" id="id_username" value="" > 
				<input type="password" class="tb1" name="password" id="id_password" value="" >
				<input type="submit" value="Entrar" class="btn">
</form>
	   
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left">
		<ul>
			<h2><li type= disc><a> Ingresar a Broker21 por primera vez</a></li></h2>
			<h2><li type= disc><a> Recuperar Contraseña</a></li></h2>
		<ul>
	</div>
</div>
	   

{% endblock %}